/* GENERAL */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
  max-width: 100%;
}

/* UTILITY */

.container{
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

.flex-box{
  display: flex;
}

.fix-width{
  width: 30%;
}

.text-right{
  text-align: right;
}

/* DEBUG CLASS */
.border-box *{
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}

/* HEADER */

header{
  position: fixed;
  top: 0;
  z-index: 999;

  width: 100%;
  height: 70px;

  background-color: #ff6900;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.nav-bar{
  justify-content: space-between; /* utilizzando il flex, il logo nn viene centrato, perchè i blocchi laterali hanno misure diverse */
  align-items: center;
  height: 100%;
}

.nav-bar ul{
  list-style: none;
}

.nav-bar a{
  color: white;
  text-decoration: none;
  margin-right: 8px;
}

.nav-bar .text-menu a{
  font-weight: bold;
  font-size: 18px;
}

.nav-bar .text-menu a:hover{
  text-decoration: underline;
}

.nav-bar .logo{
  width: 150px;
}

/* MAIN */

main{
  margin-top: 70px;
}

.cards{
  padding-top: 60px;
}

.card-top{
  position: relative;
  max-width: 450px;
}

/* CARD IMAGE */
/* ---------------------------------------------------------- */
.card-image{
  position: relative;
}

.card-image img{
  position: absolute;
}

.card-image img:last-of-type{
  display: none;
}

.card-image img:first-of-type:hover + img:last-of-type{
  display: inline-block;
}

/* HEARTH */
/* ---------------------------------------------------------- */
.hearth{
  position: absolute;
  top: 16px;
  right: 0;

  height: 50px;
  width: 50px;

  line-height: 50px;
  text-align: center;

  background-color: white;
  font-size: 20px;
}

.hearth:hover{
  color: red;
}

/* BADGE */
/* ---------------------------------------------------------- */
.badge-box{
  width: 100%;
  position: absolute;
  top: 600px;
}

.badge{
  color: white;
  padding: 4px 16px;
  font-weight: bold;
  margin-right: 8px;
}

.badge-red{
  background-color: red;
}

.badge-green{
  background-color: green;
}