/* GENERAL */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* UTILITY */

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-box{
  display: flex;
}

/* HEADER */

header{
  position: fixed;
  top: 0;
  z-index: 999;

  width: 100%;
  height: 80px;
  background-color: #ff6900;
}

.nav-bar{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}